<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.xdarkicex.libravdbd</string>
    <key>ProgramArguments</key>
    <array>
      <string>__LIBRAVDBD_PATH__</string>
      <string>serve</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
      <key>LIBRAVDB_RPC_ENDPOINT</key>
      <string>unix:__HOME__/.clawdb/run/libravdb.sock</string>
      <key>LIBRAVDB_DB_PATH</key>
      <string>__HOME__/.clawdb/data</string>
      <key>LIBRAVDB_ONNX_RUNTIME</key>
      <string>__ONNX_RUNTIME_LIB__</string>
      <key>LIBRAVDB_SUMMARIZER_BACKEND</key>
      <string>bundled</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>__HOME__/Library/Logs/libravdbd.log</string>
    <key>StandardErrorPath</key>
    <string>__HOME__/Library/Logs/libravdbd.log</string>
  </dict>
</plist>
